<?xml version="1.0" encoding="utf-8"?>
<odoo>
 <menuitem id="menu_root"
name="Sales Ceren Test"
sequence="0"/>
<menuitem id="menu_master"
name="Sales Ceren Test Details"
parent="menu_root"
sequence="0"/>
<menuitem id="menu_details"
name="Sales Ceren details"
parent="menu_master"
sequence="0"/>
 
</odoo>